<div class="table-responsiveness mt-3">
  <table class="member-table center" *ngIf="memberTasks; else nocontent">  
    <thead>
        <tr class="table-row">
            <th>Member Id</th>
            <th>Member Name</th>
            <th>Task Name</th>
            <th>Delivarables</th>
            <th>Task Start Date</th>
            <th>Task End Date</th>
            <th>Project Start Date</th>
            <th>Project End Date</th>
            <th>Allocation Percentage</th>
        </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let task of memberTasks">
        <td>{{task.memberId}}</td>
        <td>{{task.memberName}}</td>
        <td>{{task.taskName}}</td>
        <td>{{task.delivarables}}</td>
        <td>{{task.taskStartDate | date:'dd/MM/yyyy'}}</td>
        <td>{{task.taskEndDate | date:'dd/MM/yyyy'}}</td>
        <td>{{task.projectStartDate | date:'dd/MM/yyyy'}}</td>
        <td>{{task.projectEndDate | date:'dd/MM/yyyy'}}</td>
        <td *ngIf="!isEditable">{{task.allocationPercentage}}</td>
        <td *ngIf="isEditable"><input [(ngModel)]="task.allocationPercentage"></td>
        <td *ngIf="!isEditable"><a type="button" (click)="editAllocation()">Edit</a></td>
        <td *ngIf="isEditable">
          <button class="btn btn-sm btn-primary" (click)="updateAllocationPercentage(task.memberId)">Update</button>
        </td>
      </tr>      
    </tbody>    
  </table>
  
  <ng-template #nocontent>
    <div class="text-align-center mr-5">
      <span>No task is available. Please try searching with valid member id....</span>
    </div>
  </ng-template>  
</div>