<form [formGroup]="registerForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
      <input formControlName="memberId"
        [class.is-invalid]="registerForm.controls['memberId'].touched && registerForm.controls['memberId'].invalid"        
        type="number" 
        class="form-control" 
        placeholder="User Id">
      <div class="invalid-feedback" *ngIf="registerForm.controls['memberId'].errors?.['required']">
        User Id is required.
      </div>
    </div>
    <div class="form-group">
      <input formControlName="name"
        [class.is-invalid]="registerForm.controls['name'].touched && registerForm.controls['name'].invalid"        
        type="text" 
        class="form-control" 
        placeholder="Name">
      <div class="invalid-feedback" *ngIf="registerForm.controls['name'].errors?.['required']">
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <input formControlName="experience"
        [class.is-invalid]="registerForm.controls['experience'].touched && registerForm.controls['experience'].invalid"        
        type="number" 
        class="form-control" 
        placeholder="Experience">
      <div class="invalid-feedback" *ngIf="registerForm.controls['experience'].errors?.['required']">
        Experience is required.
      </div>
      <div *ngIf="registerForm.get('experience').hasError('min')" class="invalid-feedback">
        Experience must be greater than 4 years.
      </div>
    </div>
    <div class="form-group">
      <input formControlName="skillset"
        [ngClass]="{'is-invalid': (registerForm.get('skillset').errors || registerForm.hasError('minSkillset')) && registerForm.get('skillset').touched}"
        type="text" 
        class="form-control" 
        placeholder="Skillset(comma separated)">
      <div class="invalid-feedback" *ngIf="registerForm.controls['skillset'].errors?.['required']">
        Skillset is required.
      </div>
      <div *ngIf="registerForm.hasError('minSkillset')" class="invalid-feedback">
        Member should possess atleast 3 skillsets.
      </div>
    </div>
    <div class="form-group">
      <input formControlName="description"
        [class.is-invalid]="registerForm.controls['description'].touched && registerForm.controls['description'].invalid"        
        type="text" 
        class="form-control" 
        placeholder="Description">
      <div class="invalid-feedback" *ngIf="registerForm.controls['description'].errors?.['required']">
        Description is required.
      </div>
    </div>
    <div class="form-group">
      <input formControlName="projectStartDate"
        [class.is-invalid]="registerForm.controls['projectStartDate'].touched && registerForm.controls['projectStartDate'].invalid"        
        type="text" 
        class="form-control"
        bsDatepicker
        [bsConfig]="bsConfig"
        placeholder="Project start date">
      <div class="invalid-feedback" *ngIf="registerForm.controls['projectStartDate'].errors?.['required']">
        Project start date is required.
      </div>
    </div>
    <div class="form-group">
      <input formControlName="projectEndDate"
        [ngClass]="{'is-invalid': (registerForm.get('projectEndDate').errors || registerForm.hasError('dateValidator')) && registerForm.get('projectEndDate').touched}"
        type="text" 
        class="form-control"
        bsDatepicker
        [bsConfig]="bsConfig"
        placeholder="Project end date">
      <div class="invalid-feedback" *ngIf="registerForm.controls['projectEndDate'].errors?.['required']">
        Project end date is required.
      </div>
      <div *ngIf="registerForm.hasError('dateValidator')" class="invalid-feedback">
        Project end date must be greater than project start date.
      </div>
    </div>
    <div class="form-group">
      <input formControlName="allocationPercentage"
        [class.is-invalid]="registerForm.controls['allocationPercentage'].touched && registerForm.controls['allocationPercentage'].invalid"        
        type="number" 
        class="form-control" 
        placeholder="Allocation percentage">
      <div class="invalid-feedback" *ngIf="registerForm.controls['allocationPercentage'].errors?.['required']">
        Allocation percentage is required.
      </div>
      <div *ngIf="registerForm.get('allocationPercentage').hasError('min') || registerForm.get('allocationPercentage').hasError('max')" class="invalid-feedback">
        Allocation should be provided as percentage(0-100).
      </div>
    </div>
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
        formControlName="password" type="password" class="form-control" placeholder="Password">
      <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">
        Password is required.
      </div>
      <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">
        Password must be atleast 4 characters length.
      </div>
    </div>
    <div class="form-group">
      <input
      [ngClass]="{'is-invalid': (registerForm.get('confirmPassword').errors || registerForm.hasError('mismatch')) && registerForm.get('confirmPassword').touched}"
      formControlName="confirmPassword" 
      type="password" class="form-control" 
      placeholder="Confirm Password">
      <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">
        Confirm Password is required.
      </div>
      <div *ngIf="registerForm.hasError('mismatch')" class="invalid-feedback">
        Password must match.
      </div>
    </div>
    <div class="form-group">
        <label class="control-label mr-5" for="isManager">I am a : </label>
        <label class="radio-inline">
          <input class="mr-1" formControlName="isManager" id="isManager" type="radio" value="true">Manager
        </label>
        <label class="radio-inline ml-3">
          <input class="mr-1" formControlName="isManager" id="isManager" type="radio" value="false">Member
        </label>
      </div>  
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit" [disabled]="registerForm.invalid">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>