<div class="float-right mr-5">
    <button class="btn btn-success" type="button" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</button>
</div>
<div *ngIf="isManager">
    <form class="text-align-center">
        <span class="margin-right">Enter Member Id:</span>
        <mat-form-field>
            <input type="number" matInput placeholder="Search for member tasks.." name="search" [(ngModel)]="search">
            <button matSuffix mat-button (click)="fetchTaskDetailsByMemberId()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <br />
    </form>
</div>

<app-member-task-details 
    [memberTasks]="memberTasks" 
    [isManager]="isManager"
    [nameId]="nameId">
</app-member-task-details>