<div *ngIf="isManager">
    <form class="text-align-center">
        <span class="margin-right">Enter Member Id:</span>
        <mat-form-field>
            <input type="number" matInput placeholder="Search for member tasks.." name="search" [(ngModel)]="search">
            <button matSuffix mat-button (click)="fetchTaskDetailsByMemberId()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <br />
    </form>
</div>

<div *ngIf="isManager" class="div-float-right mt-3">
    <button class="btn btn-sm btn-primary" type="button" (click)="assignTask()">Assign Task <i class="fa fa-plus"></i></button>
</div>
<app-member-task-details 
    [memberTasks]="memberTasks" 
    [isManager]="isManager"
    [nameId]="nameId">
</app-member-task-details>